*{
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: .5%;
  /* position: relative; */
  background: #fcfbe1;
}

.row {
  display: flex;
}

.box {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}

.box:hover {
  background: lightblue;
  cursor: crosshair;
}

.popUp {
  position: absolute;
  top: 50vh;
  color: red;
  background: black;
  padding: 1rem 2rem;
  font-size: 3rem;
  display: none;
  z-index: 1000;
}

.popUp:hover {
  cursor: pointer;
}

.screen {
  width: 100%;
  height: 98vh;
  position: absolute;
  z-index: 50;
  display: none;
}
